/* reset css */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

body{
   /* display: grid; */
   /* font-size: 18px; */
   font-family: 'Raleway', sans-serif;
   background-image: url(./img/Stars-galaxy-purple-light-space_1920x1200.jpg) ;
   background-repeat: no-repeat;
   background-size: 100%;
   color: white;
}

.titulo{
   font-size: 20px;
   padding-right: 100px;
   /* margin-bottom: 30px; */
   /* display: flex; */
   /* flex-direction: column; */
   /* justify-content: space-between; */
   /* margin-bottom: auto; */
}

h1{
   text-align: left;
   font-size: 55px;
   font-weight: bold;
   /* margin-bottom: 20px; */
   /* padding-right: 100px; */
   margin-bottom: 30px;
}

a{
text-decoration: none;
color: inherit;
}

a:hover{
   color: rgb(78, 0, 224);
   font-weight: 600;
}

.container{
   background: rgba(78, 0, 89, 0.1);
   border-radius: 13px;
   box-shadow: 0 4px 30px rgb(0, 0, 0);
   backdrop-filter: blur(3.4px);
   -webkit-backdrop-filter: blur(3.4px);
   padding: 3px;
   display: flex;
   justify-content:space-between;
   align-items: flex-start;
   max-width: 900px;
   width: 100%;
   margin: auto;
}

form{
   background: rgba(76, 0, 255, 0.336);
   border-radius: 13px;
   /* box-shadow: 0 8px 32px 0 rgba(255, 170, 12, 0.438); */
   display: flex;
   justify-content: space-between;
   padding: 30px;
   width: 420px;
   height: auto;
   flex-direction: column;
   gap: 10px;
}

label{
   font-size: 20px;
   font-weight: 900;
}

input{
   height: 40px;
   border-radius: 10px;
   border: none;
   background-color: rgba(158, 153, 182, 0.89);
   font-weight: 500;
   padding: 15px;
   font-family: inherit;
   font-size: inherit;
}

input::placeholder{
   color: rgba(255, 255, 255, 0.973);
}

input:focus, select:focus{
   outline: 0;
}

select{
   height: 40px;
   font-size: 20px;
   text-align: center;
   border-radius: 10px;
   border: none;
   color: rgb(0, 45, 243);
   background-color: rgba(218, 217, 217, 0.932);
   font-weight: 200;
}

select:hover{
   background: rgba(128, 146, 202, 0.651); 
   color: black;
   border: none;
   font-weight: 500;
}

button{
   background-color:rgba(96, 56, 243, 0.671);
   color:rgb(255, 255, 255);
   text-align: center;
   border-radius: 10px;
   font-size: 24px;
   padding: 10px;
   text-decoration: none;
   font-weight: 550;
   border: none;
   outline: none;
}

button:hover{
   background: rgba(97, 0, 224, 0.616);
   border: none;
   color:black
}

.trocaUnidade{
   display: flex;
   align-items:center;
   justify-content: space-between;
   padding-top: 10px;
   padding-bottom: 10px;
}

#resultado{
   margin-top: 8px;
   color: rgb(174, 0, 255);
   font-size: 20px;
   font-weight: 700;
   text-align: center;
}

/* Onde usar a tag textarea??? */